.content {
  height: 100vh;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  padding: 20px;
  width: 500px;
  margin-bottom: 120px;
}
.header {
  margin-bottom: 30px;
}
.title {
  color: #0047ab;
  font-size: 39px;
  font-weight: 700;
  font-family: Merriweather Sans;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  align-items: center;
  line-height: 1.5;
}

.sign-up {
  margin-bottom: 30px;
  position: relative;
  width: 40vh;
  height: 16vh;
  margin-bottom: 9px;
  gap: 120px;
}
.Email {
  color: #0047ab;
  border-radius: 2px;
}

.sign-up input {
  width: 256px;
  height: 26px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 5px;
  width: 276px;
  outline: 1px ridge #0056b3;
  font-size: medium;
  margin-bottom: 10px;
}
button:hover {
  background-color: #0056b3;
}
button {
  padding: 10px 20px;
  background-color: #0047ab;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 276px;
  height: 24px;
  margin-top: 20px;
}

.text {
  width: 271px;
  height: 19px;
  gap: 20px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 50px;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  width: 50vh;
  height: 10vh;
}

.passwords:hover {
  color: #0056b3;
  cursor: pointer;
}
